name: release

on:
  push:
    tags:
      - "v*"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v5
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "10.0.100"
      - name: Run tests
        run: dotnet test --blame-hang-timeout 2m

  release:
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - name: Check out the repo
        uses: actions/checkout@v5
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_REGISTRY_USER }}
          password: ${{ secrets.DOCKER_HUB_REGISTRY_PASSWORD }}
      - name: Build image
        run: docker build --pull -f ./src/GrowattShine2Mqtt/Dockerfile -t jonasmh/growattshine2mqtt:${{ github.ref_name }} -t jonasmh/growattshine2mqtt:latest .
      - name: Push image
        run: |-
          docker push jonasmh/growattshine2mqtt:${{ github.ref_name }};
          docker push jonasmh/growattshine2mqtt:latest;
